In [36]:
# Аттестация Рестораны
import numpy as np
import pandas as pd
data = pd.read_csv('data_1669910787116.csv')
data.index += 1 
data = data.sort_values(by=['salary'],ascending=True)
print(data)

                        region_name  salary
47              Республика Дагестан   24550
17  Кабардино-Балкарская Республика   25318
48             Республика Ингушетия   25663
21  Карачаево-Черкесская Республика   25699
49              Республика Калмыкия   25719
..                              ...     ...
33                      Ненецкий АО   77277
10                        г. Москва   78946
79                Ямало-Ненецкий АО   86560
78                     Чукотский АО   96930
30                 Магаданская обл.  101662

[80 rows x 2 columns]

In [59]:
data = pd.DataFrame(data)
x=30-1
x30=data.iloc[[x]]
x=37-1
x37=data.iloc[[x]]
x=60-1
x60=data.iloc[[x]]
print(x30,x37,x60)
#data = pd.read_csv('data_1669910787116.csv', index_col='ID')
#data_lin = (data -  data.min())/(data.max()-data.min())
#data['total'] = data_lin['GUESTS']+data_lin['INCOME']+data_lin['STARS']
#t = data['total'].sort_values(ascending=False)
#print(data)
#print(round(data_lin,2))
#t

       region_name  salary
34  г. Севастополь   31008              region_name  salary
41  Астраханская область   32166         region_name  salary
64  Приморский край   42026

In [47]:
#среденее
round(data.mean(),2)

salary    39393.99
dtype: float64

In [48]:
#медиана
round(data.median(),2)

salary    33111.5
dtype: float64

In [60]:
data.reset_index(drop=True)
data.index+=1

In [63]:
data

                        region_name  salary
6               Республика Дагестан   24550
7   Кабардино-Балкарская Республика   25318
8              Республика Ингушетия   25663
9   Карачаево-Черкесская Республика   25699
10              Республика Калмыкия   25719
..                              ...     ...
81                      Ненецкий АО   77277
82                        г. Москва   78946
83                Ямало-Ненецкий АО   86560
84                     Чукотский АО   96930
85                 Магаданская обл.  101662

[80 rows x 2 columns]